<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.gym.mapper.AchievementMapper">
    <resultMap type="com.zhiyou100.gym.pojo.Achievement" id="achievement">
        <id column="ach_id" property="achId"/>
        <result column="ach_num" property="achNum"/>
        <result column="ach_coach_num" property="achCoachNum"/>
        <result column="ach_user_num" property="achUserNum"/>
        <result column="ach_top_id" property="achTopId"/>
        <result column="ach_top_price" property="achTopPrice"/>
        <result column="ach_date" property="achDate"/>
        <result column="ach_desc" property="achDesc"/>
        <result column="ach_state" property="achState"/>

        <result column="us_name" property="usName"/>
        <result column="coach_name" property="coachName"/>
        <result column="top_name" property="topName"/>

    </resultMap>
    <!-- 查询所有  小写-->
    <select id="findAll" resultMap="achievement">
         select * from gym_achievement a
         INNER JOIN gym_coach c on a.ach_coach_num = c.coach_number
         INNER JOIN gym_user u on a.ach_user_num = u.us_member
         INNER JOIN gym_top t on a.ach_top_id = t.top_id
         where  a.ach_state = 0
    </select>
    <select id="findCoachNum" resultMap="achievement">
         select * from gym_achievement a
         INNER JOIN gym_coach c on a.ach_coach_num = c.coach_number
         INNER JOIN gym_user u on a.ach_user_num = u.us_member
         INNER JOIN gym_top t on a.ach_top_id = t.top_id
         where  a.ach_state = 0 and  a.ach_coach_num = #{achCoachNum}
    </select>

    <!-- 添加数据  大写-->
    <insert id="add" parameterType="com.zhiyou100.gym.pojo.Achievement">
		insert into gym_achievement values(
		null,
		#{achNum},#{achCoachNum},
		#{achUserNum},#{achTopId},
		#{achTopPrice},now(),#{achDesc},
		0
		)
	</insert>

    <!-- 动态sql修改  大写-->
    <update id="update1" parameterType="integer">
		update gym_achievement set
		ach_state = 1
		where ach_id = #{achId}
	</update>
    <select id="findCount" resultType="java.lang.Integer">
        select  count(ach_id) from gym_achievement
         where  ach_state = 0
    </select>

    <select id="findByPage" resultMap="achievement" parameterType="integer">
        select * from gym_achievement a
         INNER JOIN gym_coach c on a.ach_coach_num = c.coach_number
         INNER JOIN gym_user u on a.ach_user_num = u.us_member
         INNER JOIN gym_top t on a.ach_top_id = t.top_id
         where  a.ach_state = 0
       LIMIT #{start},#{size}
    </select>
    <select id="findCoachNumCount" resultType="java.lang.Integer">
        select  count(ach_id) from gym_achievement
         where  ach_state = 0 and  ach_coach_num = #{achCoachNum}
    </select>
    <select id="findCoachNumByPage" resultMap="achievement" parameterType="integer">
          select * from gym_achievement a
         INNER JOIN gym_coach c on a.ach_coach_num = c.coach_number
         INNER JOIN gym_user u on a.ach_user_num = u.us_member
         INNER JOIN gym_top t on a.ach_top_id = t.top_id
         where  a.ach_state = 0
          and  a.ach_coach_num = #{achCoachNum}
          LIMIT #{start},#{size}
    </select>


</mapper>
