<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.gym.mapper.SignMapper">
    <resultMap type="com.zhiyou100.gym.pojo.Sign" id="sign">
        <id column="sign_id" property="signId"/>
        <result column="sign_number" property="signNumder"/>
        <result column="sign_time" property="signTime"/>
        <result column="sign_desc" property="signDesc"/>
        <result column="sign_user_number" property="signUserNumber"/>
        <result column="sign_status" property="signStatus"/>
        <result column="us_member" property="usMember"/>
        <result column="us_name" property="usName"/>
        <result column="pot_number" property="potNumber"/>
        <result column="pot_name" property="potName"/>
    </resultMap>
    <!-- 查询所有 员工签到-->
    <select id="findAll0" resultMap="sign">
          select s.*,u.us_name,u.us_member from gym_sign s
          inner join gym_user u  on s.sign_user_number = u.us_member
          where s.sign_status = 0
          ORDER BY s.sign_time desc
    </select>
    <!-- 查询所有 会员签到-->
    <select id="findAll1" resultMap="sign">
          select s.*,u.us_name,u.us_member from gym_sign s
          inner join gym_user u  on s.sign_user_number = u.us_member
          where s.sign_status = 1
          ORDER BY s.sign_time desc
    </select>
    <!-- 查询所有 潜客签到-->
    <select id="findAll2" resultMap="sign">
         select s.*,p.pot_number,p.pot_name from gym_sign s
         INNER JOIN gym_potential p on p.pot_number = s.sign_user_number
         where s.sign_status = 2
         ORDER BY s.sign_time desc
    </select>
    <!-- 依据id查单挑数据  小写-->
    <select id="findByNum" resultMap="sign" parameterType="int">
		select * from gym_sign where to_days(sign_time) = to_days(now())
        and sign_user_number = #{signUserNumber}
	</select>
    <select id="findMax" resultMap="sign">
        select * from gym_sign where sign_id = (select max(sign_id) from gym_sign)
    </select>
    <select id="findByUserNumber" resultMap="sign">
         select s.*,u.us_name,u.us_member from gym_sign s
         inner join gym_user u  on s.sign_user_number = u.us_member
         where s.sign_user_number = #{signUserNumber}
         ORDER BY s.sign_time desc
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="integer">
         select  count(sign_status) from gym_sign where sign_status = #{signStatus}
    </select>
    <select id="findByPage01" resultMap="sign" parameterType="int">
          select s.*,u.us_name,u.us_member from gym_sign s
          inner join gym_user u  on s.sign_user_number = u.us_member
          where s.sign_status = #{signStatus}
          ORDER BY s.sign_time desc
         LIMIT #{start},#{size}
    </select>
    <select id="findByPage2" resultMap="sign" parameterType="int">
          select s.*,p.pot_number,p.pot_name from gym_sign s
         INNER JOIN gym_potential p on p.pot_number = s.sign_user_number
         where s.sign_status = 2
         ORDER BY s.sign_time desc
         LIMIT #{start},#{size}
    </select>
    <select id="findNum" resultMap="sign">
        select * from gym_sign
        where sign_user_number = #{signUserNumber}
    </select>
    <select id="findByPageNum" resultType="com.zhiyou100.gym.pojo.Sign">
        select s.*,u.us_name,u.us_member from gym_sign s
          inner join gym_user u  on s.sign_user_number = u.us_member
          where s.sign_user_number = #{signUserNumber}
          ORDER BY s.sign_time desc
         LIMIT #{start},#{size}
    </select>
    <select id="findCountNum" resultType="java.lang.Integer">
        select  count(sign_status)  from gym_sign
        where sign_user_number = #{signUserNumber}
    </select>

    <!-- 添加数据  大写-->
    <insert id="add" parameterType="com.zhiyou100.gym.mapper.SignMapper">
		insert into gym_sign values(
		null,
		#{signNumder},
		now(),
		#{signDesc},
		#{signUserNumber},
		#{signStatus})
	</insert>
    <!-- 依据id删除单挑数据  -->
    <delete id="deleteById" parameterType="int">
		delete from gym_sign  where sign_id = #{signId}
	</delete>
    <!-- 动态sql修改  大写-->
    <update id="update" parameterType="com.zhiyou100.gym.mapper.SignMapper">
		update  gym_sign
        <set>
            <if test="signNumder != null">sign_numder =#{signNumder},</if>
        </set>
		where sign_id = #{signId}
	</update>
</mapper>
