<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.gym.mapper.UserMapper">
    <resultMap type="com.zhiyou100.gym.pojo.User" id="user">
        <id column="us_id" property="usId"/>
        <result column="us_account" property="usAccount"/>
        <result column="us_password" property="usPassword"/>
        <result column="us_name" property="usName"/>
        <result column="us_sex" property="usSex"/>
        <result column="us_age" property="usAge"/>
        <result column="us_head" property="usHead"/>
        <result column="us_label" property="usLabel"/>
        <result column="us_introduce" property="usIntroduce"/>
        <result column="us_member" property="usMember"/>
        <result column="us_status" property="usStatus"/>
        <collection property="roles" ofType="com.zhiyou100.gym.pojo.Role">
            <result column="ro_id" property="roId"/>
            <result column="ro_name" property="roName"/>
            <result column="ro_desc" property="roDesc"/>
        </collection>
    </resultMap>
    <select id="findAccount" resultMap="user">
       select * from gym_user where us_account = #{usAccount}
    </select>
    <select id="findByUAccount" resultMap="user">
       select u.*,r.* from gym_user u
        INNER JOIN gym_user_role ur on u.us_id = ur.u_id
        INNER JOIN gym_role r on ur.r_id = r.ro_id
       where u.us_account =#{usAccount}  and us_status = 1
    </select>
    <select id="findAllUR" resultMap="user" >
      select u.*,r.* from gym_user u
      INNER JOIN gym_user_role ur on u.us_id = ur.u_id
      INNER JOIN gym_role r on ur.r_id = r.ro_id
      ORDER BY u.us_id
    </select>
    <select id="findUserCount" resultType="java.lang.Integer">
        select  count(us_id)  from gym_user
    </select>
    <select id="findByPage" resultMap="user" parameterType="integer">
        select * from gym_user
        ORDER BY us_id limit #{start},#{size}
    </select>
    <select id="findByMember" resultMap="user" parameterType="integer">
        select * from gym_user u where u.us_status = 1
        and u.us_member = #{usMember}
    </select>
    <select id="findByUMax" resultMap="user">
        select * from gym_user where us_id = (select max(us_id) from gym_user where us_member &lt; 10000)
    </select>
    <select id="findByHMax" resultMap="user">
        select * from gym_user where us_id = (select max(us_id) from gym_user where us_member > 10000)
    </select>

    <insert id="add" parameterType="com.zhiyou100.gym.pojo.User">
        insert  into  gym_user values (
        null,#{usAccount},#{usPassword},#{usName},#{usSex},#{usAge},#{usHead},#{usLabel},
        #{usIntroduce},#{usMember},1
        )
    </insert>
    <insert id="addRole" parameterType="integer">
          insert  into  gym_user_role  values (null,#{usId},#{roleId})
    </insert>
    <update id="cancellation" parameterType="integer">
          update gym_user set
          us_status = 0 where us_member = #{usMember}
    </update>
    <update id="updateinfo" parameterType="com.zhiyou100.gym.pojo.User">
        update gym_user
        <set>
            <if test="usAccount != null">us_account =#{usAccount},</if>
            <if test="usPassword != null">us_password =#{usPassword},</if>
            <if test="usName != null">us_name =#{usName},</if>
            <if test="usAge != null">us_age = #{usAge},</if>
            <if test="usHead != null">us_head=#{usHead},</if>
            <if test="usLabel != null">us_label=#{usLabel},</if>
            <if test="usIntroduce != null">us_introduce=#{usIntroduce},</if>
        </set>
        where us_member = #{usMember}
    </update>
</mapper>
