<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>健身中心</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		img{
			width: 30px;
			height: 30px;
		}
		body {
			margin: 40px;
			text-align: center;
			padding: 0px;
			background-size: cover;
		}
	</style>
</head>
<body >

	<a href="/cabinet/show">返回租柜</a>

	<table class="table table-bordered">
		<tr>
			<td>序号</td>
			<td>编号</td>
			<td>金额</td>
			<td>时长</td>
			<td>始于</td>
			<td>修改</td>
			<td>会员编号</td>
			<td>柜子编号</td>
		</tr>
		<tr th:each="c,item:${infoy}">
			<td th:text="${item.count}">序号</td>
			<td th:text="${c.cabInfoNumber}"></td>
			<td>
				<p th:if="${c.cabInfoDuration == 12}">389</p>
				<p th:if="${c.cabInfoDuration == 6}">288</p>
				<p th:if="${c.cabInfoDuration == 3}">138</p>
				<p th:if="${c.cabInfoDuration == 1}">58</p>
			</td>
			<td>
				<p th:if="${c.cabInfoDuration == 12}">一年</p>
				<p th:if="${c.cabInfoDuration == 6}">半年</p>
				<p th:if="${c.cabInfoDuration == 3}">三个月</p>
				<p th:if="${c.cabInfoDuration == 1}">一个月</p>
			</td>
			<td th:text="${c.cabInfoCreateTime}"></td>
			<td th:text="${c.cabInfoUpdateTime}"></td>
			<td th:text="${c.cabInfoMember}"></td>
			<td th:text="${c.cabInfoNum}"></td>
		</tr>
	
	</table>
	<div style="margin-left: -40px;">
		<b th:if="${pooy} ne '1'">
			<a th:href="@{/cabinet/show2(pagey=${pooy -1 })}">上一页</a>
		</b>
		<span  th:each="page :${#numbers.sequence(1,numy)}">

       <i th:if="${page} eq ${pooy}">
         <b th:text="${page}"></b>
      </i>
      <i th:if="${page} ne ${pooy}">
         <a th:href="@{/cabinet/show2(pagey=${page})}" th:text="${page}"></a>
      </i>
   </span>
		<b th:if="${pooy} ne ${numy}">
			<a th:href="@{/cabinet/show2(pagey=${pooy+1})}">下一页</a>
		</b>
	</div>

	<h1>已过期租柜记录</h1>
	<table class="table table-bordered">
		<tr th:each="g,item:${infog}">
			<td th:text="${item.count}">序号</td>
			<td th:text="${g.cabInfoNumber}"></td>
			<td>
				<p th:if="${g.cabInfoDuration == 12}">389</p>
				<p th:if="${g.cabInfoDuration == 6}">288</p>
				<p th:if="${g.cabInfoDuration == 3}">138</p>
				<p th:if="${g.cabInfoDuration == 1}">58</p>
			</td>
			<td>
				<p th:if="${g.cabInfoDuration == 12}">一年</p>
				<p th:if="${g.cabInfoDuration == 6}">半年</p>
				<p th:if="${g.cabInfoDuration == 3}">三个月</p>
				<p th:if="${g.cabInfoDuration == 1}">一个月</p>
			</td>
			<td th:text="${g.cabInfoCreateTime}"></td>
			<td th:text="${g.cabInfoUpdateTime}"></td>
			<td th:text="${g.cabInfoMember}"></td>
			<td th:text="${g.cabInfoNum}"></td>
			<td>已过期</td>
		</tr>
	</table>
	<div style="margin-left: -40px;">
		<b th:if="${poog} ne '1'">
			<a th:href="@{/cabinet/show2(pageg=${poog -1 })}">上一页</a>
		</b>
		<span  th:each="pageg :${#numbers.sequence(1,numg)}">

       <i th:if="${pageg} eq ${poog}">
         <b th:text="${pageg}"></b>
      </i>
      <i th:if="${pageg} ne ${poog}">
         <a th:href="@{/cabinet/show2(pageg=${pageg})}" th:text="${pageg}"></a>
      </i>
   </span>
		<b th:if="${poog} ne ${numg}">
			<a th:href="@{/cabinet/show2(pageg=${poog+1})}">下一页</a>
		</b>
	</div>
	
</body>
</html>