<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>健身中心</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		img{
			width: 30px;
			height: 30px;
		}
		body {
			margin: 40px;
			text-align: center;
			padding: 0px;
			background-size: cover;
		}
	</style>
</head>
<body >
	<h1>已租出 租柜管理</h1>
    <a href="/cabinet/show">返回租柜</a>

	<table class="table table-bordered">
		<tr>
			<td>序号</td>
			<td>租柜编号</td>
			<td>容量</td>
			<td>记录编号</td>
			<td>规格</td>
			<td>开租</td>
			<td>到期</td>
			<td>会员编号</td>
			<td>会员名称</td>
			<td>操作</td>
		</tr>
		<tr th:each="c,item:${cabinets}">
			<td th:text="${item.count}">序号</td>
			<td th:text="${c.cabNumber}"></td>
			<td>
				<p th:if="${c.cabCapacity == 0}">40*40*50</p>
				<p th:if="${c.cabCapacity == 1}">80*80*100</p>
			</td>
			<td th:text="${c.cabInfo.cabInfoNumber}">
			</td>
			<td>
				<p th:if="${c.cabInfo.cabInfoDuration == 12}">一年</p>
				<p th:if="${c.cabInfo.cabInfoDuration == 6}">半年</p>
				<p th:if="${c.cabInfo.cabInfoDuration == 3}">三个月</p>
				<p th:if="${c.cabInfo.cabInfoDuration == 1}">一个月</p>
			</td>
			<td th:text="${c.cabInfo.cabInfoCreateTime}"></td>
			<td th:text="${c.cabInfo.cabInfoUpdateTime}"></td>
			<td th:text="${c.cabInfo.cabInfoMember}"></td>
			<td th:text="${c.cabInfo.usName}"></td>
			<td>
				<a th:href="@{/cabinet/edit(cabInfoId=${c.cabInfo.cabInfoId})}">续费</a>
			</td>
		</tr>

	</table>
	<div style="margin-left: -40px;">
		<b th:if="${poo} ne '1'">
			<a th:href="@{/cabinet/show1(page=${poo -1 })}">上一页</a>
		</b>
		<span  th:each="page :${#numbers.sequence(1,num)}">

       <i th:if="${page} eq ${poo}">
         <b th:text="${page}"></b>
      </i>
      <i th:if="${page} ne ${poo}">
         <a th:href="@{/cabinet/show1(page=${page})}" th:text="${page}"></a>
      </i>
   </span>
		<b th:if="${poo} ne ${num}">
			<a th:href="@{/cabinet/show1(page=${poo+1})}">下一页</a>
		</b>
	</div>
</body>
</html>